h1 {
  margin-top: 100px;
  font-family: 'Shrikhand', cursive;
  font-size: 125px;
  text-shadow:black 2px 0 2px;
  color: aliceblue;
  opacity: 0.9;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-image: url("../assets/silver.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
}